<div class="select-container" appClickOutside (clickOutside)="isOpen = false">
  <div class="select-header btn-placeholder" [ngClass]="{'opened': isOpen}" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="tags">
      <div *ngFor="let item of selectedItems.slice(0, maxTagCount)">
        <span>{{getLabel(item)}}</span>
      </div>
      <div *ngIf="selectedItems.length && selectedItems.length > maxTagCount">
        <span>and {{selectedItems.length - maxTagCount}} selected items</span>
      </div>
    </div>
    <input type="text" [placeholder]="placeholder" [formControl]="searchControl" (focus)="isOpen = true" />
    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" fill="#000000"></path></g>
    </svg>
  </div>


  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
    <ul cdkListbox cdkListboxMultiple [formControl]="listBoxControl" (cdkListboxValueChange)="onOptionChange($event)"
      *ngIf="isOpen" aria-labelledby="example-appointment-label" [autofocus]="true" class="list">
      <li *ngFor="let item of selectItems" [cdkOption]="item.value" (click)="handle_clickEvent($event)"
        [ngClass]="{'selected': isSelected(item.value)}" class="example-option">
        {{item.label}}
      </li>
    </ul>
  </ng-template>

</div>
