.j-listbox {
  * {
    box-sizing: border-box;
  }
}

.listbox-header {
  display: flex;
}

.sc-input {
  width: 100%;
  background-color: white;
  border: 1px solid var(--colors-blue7);
  border-bottom: none;
  border-right: none;
  outline: none;
  font-size: 13px;
  padding: 0 var(--spacing-2);
  height: var(--height-medium);
}

.clear-button-wrapper {
  white-space: nowrap;
  height: var(--height-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colors-blue7);
  border-bottom: none;
  border-left: none;
  font-size: 13px;
  font-weight: 400;
  color: var(--colors-blue9);
  padding-right: var(--spacing-2);

  &:hover {
    cursor: pointer;
  }
}


.select-all-button {
  height: var(--height-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colors-blue7);
  border-bottom: none;
  border-left: none;
  font-size: 13px;
  font-weight: 400;
  color: var(--colors-blue9);
  width: 110px;
  background-color: var(--colors-blue3);
  cursor: pointer;

  &:hover {
    background-color: var(--colors-blue4);
  }

  &:active {
    background-color: var(--colors-blue5);
  }
}


.clear-button-wrapper {
  height: var(--height-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colors-blue7);
  border-bottom: none;
  border-left: none;
  font-size: 13px;
  font-weight: 400;
  color: var(--colors-blue9);
  padding-right: var(--spacing-2);

  .clear-button {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    color: var(--colors-blue9);
    border: none;
    background-color: var(--colors-blue3);
    font-size: 12px;
    border-radius: 4px;

    &:hover {
      background-color: var(--colors-blue4);
    }

    &:active {
      background-color: var(--colors-blue5);
    }
  }
}



.sc-option {
  background-color: var(--colors-blue1);
  border-bottom: 1px solid var(--colors-blue6);
  padding: var(--spacing-3) var(--spacing-2);
  display: flex;
  align-items: center;
  line-height: 1;
  gap: var(--spacing-2);
  height: 40px;
  cursor: pointer;
  width: 100%;
  user-select: none;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--colors-blue2);
  }

  &:focus {
    background-color: var(--colors-blue3);
    outline: none;
  }

  .sc-check-circle {
    border-radius: 50px;
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid var(--colors-blue4);

    align-items: center;
    justify-content: center;
    color: var(--colors-blue9);
    line-height: 0;
    > svg {
      display: none;
    }
  }
  &[aria-selected="true"] {
    background-color: var(--colors-blue4);
    .sc-check-circle {
      background-color: var(--colors-blue3);
      border: 1px solid var(--colors-blue8);
      > svg {
        display: block;
      }
    }
  }

  .sc-option-text {
    font-size: 13px;
    font-weight: 400;
    color: var(--colors-blue9);
  }

}

.sc-list {
  height: 300px;
  max-height: 300px;
  outline: none;
  overflow: auto;
  border: 1px solid var(--colors-blue7);
  width: 100%;
}
