<div class="j-listbox">
  <div class="listbox-header">
    <input type="text" placeholder="Filter items" class="sc-input" [formControl]="filtredControl" />
    <div class="clear-button-wrapper">
      <button class="clear-button" (click)="filtredControl.setValue('')">Clear</button>
    </div>
    <button class="select-all-button" (click)="selectAll()" *ngIf="!allFiltredItemsAreSelected; else deselectBtn">Select All</button>
    <ng-template #deselectBtn>
      <button class="select-all-button" (click)="deselectAll()" >Deselect All</button>
    </ng-template>
  </div>
  <cdk-virtual-scroll-viewport itemSize="40" class="sc-list" (scrolledIndexChange)="onScrolledIndexChange()">
    <div cdkListbox cdkListboxMultiple [formControl]="listBoxControl" (cdkListboxValueChange)="onOptionChange($event)">
      <div class="sc-option"
        *cdkVirtualFor="let item of filtredItems; templateCacheSize:0"
        [cdkOption]="item">
        <div class="sc-check-circle">
          <svg width="12" height="12" viewBox="0 0 15 15" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
              fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="sc-option-text">
          {{item}}
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

